$breakpoint-small: 576px; // For phones
$breakpoint-big: 900px; // For tablets, laptops and bigger


.kontakt{

  .image{
    width: 20px;
    display: inline;
    margin-right: 10px;
  }
  @media (max-width: $breakpoint-small) {

  }

  @media (min-width: $breakpoint-small){
  }

  @media (min-width: $breakpoint-big){

    .picture{
      display: inline;
    }


  }
}