@import "./../../global.scss";


.kontakt{

  .image{
    width: 20px;
    display: inline;
    margin-right: 10px;
  }
  @media (max-width: $breakpoint-small) {

  }

  @media (min-width: $breakpoint-small){
  }

  @media (min-width: $breakpoint-big){

    .picture{
      display: inline;
    }


  }
}