@import "./../../global.scss";

.container {
  .menu {
    display: flex;
    background-color: #434342;
  }

  footer {
    text-align: center;
  }
  @media (max-width: $breakpoint-small) {
  }

  @media (min-width: $breakpoint-small) {
  }

  @media (min-width: $breakpoint-big) {
    .logo{
      width: 300px;
  }
  }
}
